---
layout: home
---

<div class="home-intro">
    <h1>Hello I'm Felix Cusson</h1>
    <p class="tagline">
        Senior Data Engineering Specialist | Open Source Contributor | Dungeon Master
    </p>
    <p>
        Senior Data Engineering Specialist focused on designing, architecting,
        and maintaining scalable and efficient data pipelines. I specialize in
        integrating complex databases and managing data workflows in serverless
        cloud environments, with a strong passion for Python, AWS technologies,
        and automation.
    </p>
    <p>
        As an active open-source contributor, I am the official maintainer of
        <a href="https://github.com/fondberg/spotcast">Spotcast</a>, a Home
        Assistant integration that brings powerful media control to smart home
        systems.
    </p>
    <p>
        Outside of tech, I’m also a Dungeon Master, crafting immersive
        narratives and dynamic worlds for tabletop roleplaying games.
    </p>
    <a href="/about" class="btn">Learn More</a>
</div>

<hr>

<h2>Fetured Projects</h2>
<div class="Fetured-projects">
  {% for project in site.projects limit:3 %}
    <div class="project">
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      <p>{{ project.excerpt }}</p>
    </div>
  {% endfor %}
</div>
<p><a href="/projects.html">View all projects →</a></p>

<hr>

<h2>Latest Blog Posts</h2>
<ul class="blog-list">
    {% for post in site.posts limit:3 %}
        <li>
            <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
            <br>
            <small>{{ post.date | date: "%B %d, %Y" }}</small>
        </li>
    {% endfor %}
</ul>
